<div class="ui container">
  <form class="ui form" [formGroup]="form" style="margin: auto;width:60%">
    <div class="profile">
      <h2>輸入資料</h2>
      <div class="field">
        <label>消費者</label>
        <div class="ui input" [ngClass]="{'disabled' : key || queryObj?.man }">
          <input type="text" id="man" formControlName="man">
        </div>
        <button *ngIf="isNew" (click)="ManCheck()" type="button">檢查</button>
      </div>
      <div class="field">
        <label>時間</label>
        <div class="ui input" [ngClass]="{'disabled' : key }">
          <div class="ui calendar" id="dateAt_css" style="width:100%" appDatePicker (ChangeDate)="getDate($event)">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" id="dateAt" formControlName="dateAt">
            </div>
          </div>
        </div>
        <div [ngStyle]="{'visibility':form.controls.dateAt.errors?.required ? null:'hidden'}">
          <span style="color:red">必填項目</span>
        </div>
        <div [ngStyle]="{'visibility':isDateExist ? null:'hidden'}">
          <span style="color:red">此日已資料存在</span>
        </div>
      </div>
      <div class="field ">
        <label>先前儲金</label>
        <div class="ui disabled input">
          <input type="number" id="bcash" formControlName="bcash">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>加值</label>
          <input type="number" id="topUp" formControlName="topUp" min="0">
        </div>
        <div class="field">
          <label>消費</label>
          <input type="number" id="pay" formControlName="pay" min="0">
        </div>
      </div>
      <div style="margin-top:-1em;margin-bottom:0.2em" [ngStyle]="{'visibility':(form.value.topUp + form.value.pay) === 0? null:'hidden'}">
        <span style="color:red">加值或消費其中一項必填</span>
      </div>
      <div class="field">
        <label>店家</label>
        <input type="text" id="store" formControlName="store">
      </div>
      <div class="field">
        <label>消費內容</label>
        <textarea id="content" style=" resize: none;" formControlName="content" rows="5"></textarea>
      </div>
    </div>
    <button (click)="check()" [ngClass]="{'disabled' : form.invalid || (form.value.topUp + form.value.pay) === 0 || isDateExist}"
      style="margin-top:10px" class="ui submit button">送出</button>
  </form>
</div>