<table class="ui celled table" style="float:left;margin-right:3px" [style.width]="(people.length+1)*100 + 'px'">
  <tr>
    <th style="width: 100px;height:40px;text-align:center">時間\人</th>
    <th class="single line" style="width:100px;text-align:center" *ngFor="let p of people">
      <i routerLink="/check-manage/{{p}}" style="color:chocolate" class="fa fa-plus-square" aria-hidden="true"></i>
      <span>{{p}}</span>
    </th>
  </tr>
  <tr *ngFor="let d of dates">
    <td style="text-align:center" [ngStyle]="{'border-top-width': d.getDay() === 1 ? '3px' : '1px'}">
      {{d.toLocaleDateString()}}
      <br> 星期{{['一','二','三','四','五'][d.getDay()-1]}}
    </td>
    <td *ngFor="let a of people" [ngStyle]="{'border-top-width': d.getDay() === 1 ? '3px' : '1px'}">
      <span *ngIf="filterData(d,a)?.bcash == null; else elseBlock " (click)="getInfo(d, a)">
        <span class="facklink">{{datapoint?.M}}</span>
      <i *ngIf="datapoint?.topUp > 0" style="margin-left:3px; color: green" class="fa fa-plus-circle" aria-hidden="true"></i>
      <i *ngIf="datapoint?.pay > 0" style="color: red" class="fa fa-minus-circle" aria-hidden="true"></i>
      </span>
      <template #elseBlock>
        <span style="color: gray">{{datapoint?.bcash}} </span>
      </template>
    </td>
  </tr>
</table>