<div class="ui form">
    <div class="three fields">
        <div class="inline field" style="width:350px">
            <div class="ui calendar" id="dateAt_css" appDatePicker (outputDate)="queryDate = $event">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" style="width:300px" id="dateAt" [value]="queryDate.toLocaleDateString()">
                </div>
            </div>
        </div>
        <div class="inline field" style="width:300px">
            <label>前幾天</label>
            <input type="number" min="0" [(ngModel)]="beforeday">
        </div>
        <div class="fild">
            <button type="button" class="ui submit button" (click)="getDates()">查詢</button>
        </div>
    </div>
    <div class="field" style="margin-bottom:1em">
        <div class="ui checkbox" style="margin-right:1em">
            <input type="checkbox" [checked]="permission.insert" (change)="permission = {}.constructor.assign({},permission,{insert: !permission.insert});">
            <label>新增</label>
        </div>
        <div class="ui checkbox" style="margin-right:1em">
            <input type="checkbox" [checked]="permission.update" (change)="permission = {}.constructor.assign({},permission,{update: !permission.update});">
            <label>修改</label>
        </div>
        <div class="ui checkbox" style="margin-right:1em">
            <input type="checkbox" [checked]="permission.delete" (change)="permission = {}.constructor.assign({},permission,{delete: !permission.delete});">
            <label>刪除</label>
        </div>
        <div class="ui checkbox">
            <input type="checkbox" [checked]="isDetail" (change)="isDetail = !isDetail">
            <label>細節</label>
        </div>
    </div>
</div>
<div class="flex-row">
    <app-view-table [people]="people" [dates]="dates" [arr]="arr" [permission]="permission" [isDetail]="isDetail" (userUpdated)="infodata = $event"></app-view-table>
    <app-detail style="margin-left:3px" [infodata]="infodata"></app-detail>
</div>