.flex-row-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#check:hover {
    color: green;
}

#edit:hover {
    color: blue;
}

#remove:hover {
    color: red;
}

#uncheck:hover {
    color: orange;
}

button.ui.labeled.button {
    height:30px !important;
    padding-top: 8px;
}

div.ui.labeled.input {
    height:30px !important;
    margin-bottom: 4px;
}

div.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

button.shadow {
    box-shadow: 2px 4px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19) !important;
}