<div class="flex-row-header" style="margin-top:-1px">
  <button *ngIf="!addNew" [@plusAnimation] style="margin-top:10px;margin-right:2em;height:36px" class="circular ui icon button shadow" (click)="new_one()">
      <i class="plus icon"></i>
    </button>
    <br>
  <div class="ui card shadow" style="width:388px" *ngIf="addNew" [@enterAnimation]>
    <div class="content" [formGroup]="form"  [@enterAnimation1]>
      <i class="right floated left icon"></i>
      <label class="ui orange  right ribbon label" style="font-size:100%" >新增今日帳單</label>
      <div class="description" style="margin-top: 4px">
        <div class="ui rigth labeled input">
          <input type="text" id="man_i" placeholder="消費者" formControlName="man">
          <label class="ui tag label" for="man_i">消費者</label>
        </div>
        <div id="dropdown" class="ui dropdown search icon">
          <i class="user icon"></i>
          <div class="menu" style="max-height: 25em;">
            <div class="ui search icon input" *ngIf="people_diff.length > 9">
              <i class="search icon"></i>
              <input type="text" name="search" placeholder="查詢...">
            </div>
            <div class="item" (click)="select(m)" *ngFor="let m of people_diff">{{m}}</div>
          </div>
        </div>
        <div class="ui rigth labeled input">
          <input type="number" min="0" id="pay_i" placeholder="消費" style="color:red" formControlName="pay">
          <label class="ui tag label" for="pay_i" style="color:red">消費</label>
        </div>
        <div class="ui rigth labeled input">
          <input type="number" min="0" id="topUp_i" placeholder="儲值" style="color:green" formControlName="topUp">
          <label class="ui tag label" for="topUp_i" style="color:green">儲值</label>
        </div>
        <div class="ui rigth labeled input">
          <input type="text" id="store_i" placeholder="店家" formControlName="store">
          <label class="ui tag label" for="store_i">店家</label>
        </div>
        <div class="ui reply form">
          <div class="field">
            <textarea rows="3" formControlName="content" placeholder="消費內容"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="extra content" style="display:flex;justify-content:space-between" [@enterAnimation1]>
      <button class="ui labeled icon button" (click)="addNew = false">
        <i class="arrow left icon"></i>取消
      </button>
      <button class="ui labeled icon button" style="margin-left: auto" (click)="add()" [ngClass]="{'disabled' : (form.value.topUp + form.value.pay) === 0 || form.value.man === ''}">
        <i class="checkmark icon"></i>確認
      </button>
    </div>
  </div>
</div>
<br>
<div class="ui four cards">
  <ng-container *ngFor="let p of todayArr">
    <div class="ui card" [ngClass]="{'shadow': !p.ischeck}" style="min-width:345px" *ngIf="!p.isedit">
      <div class="content">
        <i class="right floated left icon"></i>
        <div class="header">{{p.man}}
        </div>
        <div class="description">
          <span style="color:green">
          <ng-container *ngIf="!p.ischeck">
            先前儲金:
          </ng-container>
            <ng-container *ngIf="p.ischeck">
            目前儲金:
          </ng-container>
          {{getBcash(p)}}</span>
          <br> {{"店家:"+p.store}}
          <br>
          <span style="color:red">{{"今日消費:"+p.pay}}</span>
          <br>
          <span style="color:green">{{"今日儲值:"+p.topUp}}</span>
          <br> {{"消費內容:"+ p.content}}
          <br>
          <span *ngIf="!p.ischeck" style="color:gray"> {{"確認後金額:"+ (getBcash(p) +p.topUp - p.pay)}}</span>
          <br> {{"帳單日:"+p.dateAt }}
          <br> {{"建立時間:"+(getDateTime(p) )}}
        </div>
      </div>
      <div class="extra content flex-row-between">
        <ng-template [ngIf]="!p.ischeck">
          <div id="check" (click)="check(p)">
            <i class="checkmark icon"></i>待確認
          </div>
          <div id="edit" style="margin-left:1.5em" (click)="edit(p?.$key)">
            <i class="icon edit"></i>編輯
          </div>
          <div id="remove" style="margin-left:auto" (click)="remove(p?.$key)">
            <i class="icon remove"></i>刪除
          </div>
        </ng-template>
        <ng-template [ngIf]="p.ischeck">
          <div id="uncheck" (click)="uncheck(p)" *ngIf="!isTimeout(p)">
            <i class="arrow circle left icon"></i>取消
          </div>
          <div style="color:green;margin-left:auto">
            <i class="checkmark icon"></i>確認
          </div>
        </ng-template>
      </div>
    </div>
    <div class="ui card" [ngClass]="{'shadow': !p.ischeck}" style="min-width:345px" *ngIf="p.isedit">
      <div class="content" [formGroup]="form1">
        <i class="right floated left icon"></i>
        <label class="ui orange  right ribbon label" style="font-size:100%">編輯今日帳單</label>
        <div class="description" style="margin-top: 4px">
          <div class="ui right labeled disabled input">
            <input type="text" placeholder="消費者" formControlName="man">
            <label class="ui tag label">消費者</label>
          </div>
          <div class="ui rigth labeled input">
            <input type="number" min="0" id="pay" placeholder="消費" style="color:red" formControlName="pay">
            <label class="ui tag label" for="pay" style="color:red">消費</label>
          </div>
          <div class="ui rigth labeled input">
            <input type="number" min="0" id="topUp" placeholder="儲值" style="color:green" formControlName="topUp">
            <label class="ui tag label" for="topUp" style="color:green">儲值</label>
          </div>
          <div class="ui rigth labeled input">
            <input type="text" id="store" placeholder="店家" formControlName="store">
            <label class="ui tag label" for="store">店家</label>
          </div>
          <div class="ui reply form">
            <div class="field">
              <textarea rows="3" id="content" formControlName="content" placeholder="消費內容"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content flex-row-between">
        <button class="ui labeled icon button" (click)="cancel()">
          <i class="arrow left icon"></i>取消
        </button>
        <button class="ui labeled icon button" style="margin-left: auto" (click)="update(p?.$key)" [ngClass]="{'disabled' : (form1.value.topUp + form1.value.pay) === 0}">
          <i class="checkmark icon"></i>確認
        </button>
      </div>
    </div>
  </ng-container>
</div>

<!--過去日-->
<br>
<h3>先前資料</h3>
<app-today-before [beforArr]="beforArr"></app-today-before>